.Init{
  position: relative;
  width: 95vw;
  height: 95vh;
  margin: auto;
  margin-top: 2.5vh;
  text-align: center;
  background: #1e1e1e;
}

.Init-cover{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px #565656 dashed;
  border-radius: 4px;
  cursor: pointer;
}

.Init-cover:hover, .Init-cover-drag-over{
  border-color: cornflowerblue;
}